.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .explored {
    width: 100px;
    height: 50px;
    border-style: outset;
}

.flagged {
    width: 100px;
    height: 50px;
    border-style: outset;
}

.bombed {
    width: 100px;
    height: 50px;
    border-style: outset;
}

.unexplored {
    width: 100px;
    height: 50px;
    background-color: grey ;
    border-style: inset;
    
} 